{% extends 'users/base.html' %}
{% load bootstrap4 %}
{% load customtags %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <p>
        {{post.author}} 
        {% if post.author.user_type == 1 %}
            Doctor
        {% endif %}
    </p>
    <p>
        {{post.title}}
            
    </p>
    <p>
        {{post.text_content}}
    </p>
    
    {% if post_image %}
    <img src="{{post_image.image.url}}" style="object-fit: cover; height: 150px; width: 250px;">
    {% endif %}

    <form method="POST" action="{% url 'forum:post_detail' pk=post.pk %}">
        {% csrf_token %}
        {% if liked_post %}
            <input type="submit" class="btn btn-danger" id="post-dislike" value="Dislike" name="dislike_post">
        {% else %}
            <input type="submit" class="btn btn-success" id="post-like" value="Like" name="like_post">
        {% endif %}

    </form>

    <p>Likes: {{post.likes}}   Comments: {{post.comment.count}}</p>

    <form method="POST" action="{% url 'forum:post_detail' pk=post.pk %}">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit" class="btn btn-primary" value="Add Comment"
                                        name="add_comment">
    </form>

    {% for comment in comments %}
        <p>{{comment.commentor}}
            {% if comment.commentor.user_type == 1 %}
                Doctor
            {% endif %}<br>
        {{comment.comment}}
        {{comment.likes}}</p>

        <form method="POST" action="{% url 'forum:post_detail' pk=post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="comment_data" value="{{comment.pk}}">
            
            {% if comment|liked_comment:user %}
                hello
                <input type="submit" class="btn btn-danger dislike-comment" id="comment-dislike-{{comment.pk}}" value="Dislike" name="dislike_comment">
            {% else %}
                nope
                <input type="submit" class="btn btn-success" id="comment-like-{{comment.pk}}" value="Like" name="like_comment">
            {% endif %}
        </form>
    {% endfor %}

    {% endif %}

{% endblock content %}
    
