{% extends 'users/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
    {% if user.user_type == 2 %}
    My Journal:
        <form method="POST" action=".">
            {% csrf_token %}
            {% bootstrap_form create_log_form %}
            <input type="submit" class="btn btn-primary" value="Create Log" name="create_log">
        </form>

        My Logs:
        {% for log in logs %}
            <div>
                <p>
                    {{log.text}}
                    {{log.created_date}}
                </p>
            </div>
        {% endfor %}

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Share
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Share to Journal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% bootstrap_form share_form %}
                    <input type="submit" class="btn btn-danger" value="Share Journal" name="share_journal">
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    {% endif %}
{% endblock content %}
    


