{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
    {% if user.user_type == 1 %}
    {% for i in journals %}
        
    <a href="{% url 'journal:shared_journal' pk=i.0.user.pk %}">{{i.0.user.first_name}} {{i.0.user.last_name}}</a><br>
        
    {% endfor %}

    {{logs.0.user.first_name}} {{logs.0.user.first_name}}
    {% for log in logs %}
    {{log.text}}<br>
    {{log.created_date}}

    {% endfor %}
    {% endif %}    
{% endblock content %}

    