{% load static %}
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styleMatri.css' %}">
        <link rel="shortcut icon" href="images/logoMatri.png" type="image/x-icon">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #FE8187;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="brandimg-bb" src="{% static 'images/Matricare-Logo.png' %}" height="40px">
                <lable class="h4" style="color: white;">MatriCare</lable>
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="text-decoration: none; color: white;" href="{% url 'forum:post_list_latest' filter='latest' %}">Forum</a>
                    </li>
                    
                    {% if user.user_type == 1 %}
                        <li class="nav-item active">
                            <a class="nav-link" style="text-decoration: none; color: white;" href="{% url 'journal:redirect' %}">Journal</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" style="text-decoration: none; color: white;" href="{% url 'journal:log_list' %}">Journal</a>
                        </li>
                    {% endif %}
                        
                    
                </ul>

                <div class="form-inline my-2 my-lg-0">
                    
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:logout' %}" class="btn btn-light my-2 my-sm-0 btn-login" style="color: #FE8187;" type="">Logout</a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="btn btn-light my-2 my-sm-0 btn-login" style="color: #FE8187;" type="">Login</a>
                    {% endif %}
                </div>

            </div>
        </nav>
        
        {% block content %}
            
        {% endblock content %}
        
  <hr>
  <footer class="container pt-1 pb-2">
      <div class="row">
          <div class="col-6 col-md">
              <a class="list-unstyled text-muted" href="#">MatriCare</a>
          </div>
          <div class="col-6 col-md">
              <a class="list-unstyled text-muted" href="#">FAQ</a>
          </div>
          <div class="col-6 col-md">
              <a class="list-unstyled text-muted" href="#">Terms</a>
          </div>
          <div class="col-6 col-md">
              <a class="list-unstyled text-muted" href="#">About Us</a>
          </div>
          <div class="col-6 col-md">
              <a class="list-unstyled text-muted" href="#">Contact Us</a>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md">
              <small class="d-block mt-3 text-muted" style="text-align: center;">
                  &copy;2021 MatriCare</small>
          </div>
      </div>
  </footer>

    </body>
</html>